<!DOCTYPE html>
<html>
<head>
  <title>ExSocProject</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>

        <div class="navbar">
            <ul class="nav navbar-nav">
                <li><%= link_to 'Expedition Society', trips_path %></li>
                <li><%= link_to 'New Trip', new_trip_path %></li>
                <li><%= link_to 'Show Trips', tri_trips_path %></li>

            </ul>
        </div>

<%= yield %>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  
</nav>



</body>
</html>
